.link {
  position: relative;

  @media only screen and (max-width: 48rem) {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }

  @media only screen and (max-width: 48rem) {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  &::after {
    background-color: currentColor;
    bottom: -0.25em;
    content: "";
    height: 0.125em;
    left: 50%;
    right: 50%;
    position: absolute;
    transition:
      left linear 200ms,
      right linear 200ms;
  }

  &:hover {
    &::after {
      left: 0;
      right: 0;
    }
  }
}
