.link {
  position: relative;

  &::after {
    background-color: currentColor;
    bottom: -0.25em;
    content: "";
    height: 0.125em;
    left: 50%;
    right: 50%;
    position: absolute;
    transition:
      left linear 200ms,
      right linear 200ms;
  }

  &:hover {
    &::after {
      left: 0;
      right: 0;
    }
  }
}
