.container {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  margin-top: 5rem;
  margin-bottom: 12rem;

  @media only screen and (max-width: 80rem) {
    margin-top: 3.5rem;
    margin-bottom: 8rem;
  }

  @media only screen and (max-width: 64rem) {
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  @media only screen and (max-width: 48rem) {
    align-items: stretch;
    flex-direction: column;
    position: relative;
  }
}

.section-form {
  flex: 1;

  @media only screen and (max-width: 48rem) {
    flex: unset;
  }
}

.section-summary {
  width: 20rem;

  @media only screen and (max-width: 64rem) {
    width: 15rem;
  }

  @media only screen and (max-width: 48rem) {
    width: unset;
    border-top: 2px solid rgb(var(--gray-500));
    padding-top: 1rem;
  }
}

.join-progress {
  margin-bottom: 5rem;

  @media only screen and (max-width: 80rem) {
    margin-bottom: 4rem;
  }

  @media only screen and (max-width: 64rem) {
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: 48rem) {
    margin-bottom: 1.5rem;
  }
}

.overlay {
  align-items: center;
  background: rgba(var(--gray-900), 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;

  &--light-mode {
    background: rgba(var(--gray-100), 0.4);
  }
}

.dialog {
  border-radius: 1rem;
  background: linear-gradient(rgb(var(--gray-50)) 25%, rgb(var(--gray-300)));
  color: rgb(var(--gray-950));
  padding: 3rem;
  max-width: 40rem;

  &--light-mode {
    background: rgb(var(--gray-50));
    box-shadow: 0 0 0.5rem rgba(var(--gray-900), 0.5);
  }

  @media only screen and (max-width: 80rem) {
    max-width: 35rem;
  }

  @media only screen and (max-width: 64rem) {
    max-width: 30rem;
    padding: 2rem;
  }

  @media only screen and (max-width: 48rem) {
    border-radius: 0;
    max-width: unset;
    padding: 2rem;
    width: 100%;
    bottom: 0;
  }
}

.dialog-title {
  margin-bottom: 4rem;

  @media only screen and (max-width: 80rem) {
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: 64rem) {
    margin-bottom: 2rem;
  }
}

.dialog-description {
  margin-bottom: 2rem;

  @media only screen and (max-width: 80rem) {
    margin-bottom: 1.5rem;
  }

  @media only screen and (max-width: 64rem) {
    margin-bottom: 1rem;
  }
}

.dialog-button-container {
  display: flex;
  justify-content: flex-end;
}
