.container {
  padding: 3rem;
  position: relative;
}

.image {
  color: rgb(var(--blue-400));
  position: absolute;
  left: 25%;
  filter: brightness(15%);
  width: 30rem;
  height: 30rem;

  &--light-mode {
    color: rgba(var(--blue-100));
    filter: unset;
  }
}

.text {
  background: linear-gradient(rgb(var(--blue-100)), rgb(var(--blue-700)));
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 1;

  &--light-mode {
    background: linear-gradient(rgb(var(--blue-900)), rgb(var(--blue-500)));
    background-clip: text;
  }
}
