.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;

  @media only screen and (max-width: 80rem) {
    margin-bottom: 5rem;
  }

  @media only screen and (max-width: 64rem) {
  }

  @media only screen and (max-width: 48rem) {
    margin-bottom: 3rem;
  }
}

.container {
  align-items: center;
  margin-top: 10rem;
  display: flex;
  gap: 8rem;
  margin-bottom: 10rem;
  align-self: flex-end;

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 96rem) {
    margin-top: 8rem;
    margin-bottom: 8rem;
    gap: 3rem;
  }

  @media only screen and (max-width: 80rem) {
    margin-top: 7rem;
    margin-bottom: 7rem;
    gap: 3rem;
  }

  @media only screen and (max-width: 64rem) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  @media only screen and (max-width: 48rem) {
    margin-top: 0;
    margin-bottom: 5rem;
    flex-direction: column;
  }
}

.youtube {
  & > img {
    @media only screen and (max-width: 80rem) {
      width: 26rem;
    }

    @media only screen and (max-width: 48rem) {
      width: 15rem;
    }
  }

  @media only screen and (max-width: 48rem) {
    flex-direction: column-reverse;
  }
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;

  @media only screen and (max-width: 64rem) {
    gap: 1.5rem;
  }

  @media only screen and (max-width: 48rem) {
    gap: 1rem;
  }
}

.description {
  color: rgb(var(--gray-700));
  font-weight: var(--font-weight-extralight);
}

.button {
  align-self: flex-start;
}

.image-wrapper {
  border-radius: 50%;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(var(--gray-600), 0.25);
  flex-shrink: 0;
  height: 30rem;
  overflow: hidden;
  width: 30rem;

  & > img {
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (max-width: 80rem) {
    width: 26rem;
    height: 26rem;
  }

  @media only screen and (max-width: 64rem) {
    width: 20rem;
    height: 20rem;
  }

  @media only screen and (max-width: 48rem) {
    width: 15rem;
    height: 15rem;
  }
}
