.wrapper {
  border-radius: 50%;
  flex-shrink: 0;
  width: 21rem;
  height: 21rem;
  overflow: hidden;

  @media only screen and (max-width: 80rem) {
    width: 18rem;
    height: 18rem;
  }

  @media only screen and (max-width: 64rem) {
    width: 8rem;
    height: 8rem;
  }

  @media only screen and (max-width: 40rem) {
    width: 5rem;
    height: 5rem;
  }
}

.image {
  filter: grayscale(75%);
  opacity: 0.8;

  &--light-mode {
    filter: unset;
    opacity: unset;
  }
}
