.container {
  align-items: center;
  color: rgb(var(--gray-300));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  padding: 4rem;

  @media only screen and (max-width: 80rem) {
    padding: 3rem;
  }

  @media only screen and (max-width: 64rem) {
    padding: 2rem;
  }

  &--light-mode {
    color: rgb(var(--gray-700));
  }
}

.number {
  background: linear-gradient(rgb(var(--blue-100)), rgb(var(--blue-700)));
  background-clip: text;
  color: transparent;
  font-size: var(--font-size-9xl);
  line-height: var(--font-size-9xl);

  &--light-mode {
    background: linear-gradient(rgb(var(--blue-900)), rgb(var(--blue-500)));
    background-clip: text;
  }

  @media only screen and (max-width: 96rem) {
    font-size: var(--font-size-8xl);
    line-height: var(--line-height-8xl);
  }

  @media only screen and (max-width: 80rem) {
    font-size: var(--font-size-7xl);
    line-height: var(--line-height-7xl);
  }

  @media only screen and (max-width: 64rem) {
    font-size: var(--font-size-6xl);
    line-height: var(--line-height-6xl);
  }
}

.text {
  text-align: center;
}
