.card {
  background: linear-gradient(rgb(var(--gray-100)) 25%, rgb(var(--gray-300)));
  border-radius: 1rem;
  color: rgb(var(--gray-950));
  flex: 1;
  padding: 4rem 3rem;
  position: relative;

  @media only screen and (max-width: 80rem) {
    padding: 3.5rem 3rem;
  }

  @media only screen and (max-width: 64rem) {
    padding: 2.5rem 2rem;
  }

  @media only screen and (max-width: 48rem) {
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @media only screen and (max-width: 40rem) {
    margin-left: 0;
    margin-right: 0;
  }

  &--light-mode {
    background: rgb(var(--gray-50));
    box-shadow: 0 0 0.5rem rgba(var(--gray-900), 0.5);
    color: rgb(var(--gray-950));
  }
}

.title {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2rem;

  @media only screen and (max-width: 48rem) {
    margin-bottom: 1rem;
  }
}

.pricing-section {
  align-items: flex-end;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;

  @media only screen and (max-width: 48rem) {
    margin-bottom: 1rem;
  }
}

.price {
  font-weight: var(--font-weight-light);
}

.list {
  color: rgb(var(--gray-700));
  margin-top: 3rem;

  @media only screen and (max-width: 48rem) {
    margin-top: 1rem;
  }

  & > li {
    position: relative;
    padding: 0.5rem 0;

    &::after {
      content: "";
      width: 100%;
      border-bottom: 1px solid rgb(var(--gray-400));
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
