.link {
  position: relative;

  &::after {
    background-color: currentColor;
    bottom: -0.25em;
    content: "";
    height: 0.125em;
    left: 0;
    position: absolute;
    width: 0;
    transition: width linear 200ms;
  }

  &.active {
    &::after {
      width: 100%;
    }
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
