.text {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -10%;
    width: 100%;
    left: 0;
    height: 0.5em;
    background: linear-gradient(
      to right,
      rgba(var(--blue-700), 0.8),
      rgba(var(--blue-700), 0)
    );
    z-index: -1;
  }

  &--light-mode {
    &::before {
      background: linear-gradient(
        to right,
        rgba(var(--blue-600), 0.9),
        rgba(var(--blue-600), 0.1)
      );
    }
  }
}
