.container {
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;

  @media only screen and (max-width: 80rem) {
    margin-bottom: 5rem;
  }

  @media only screen and (max-width: 64rem) {
  }

  @media only screen and (max-width: 48rem) {
    margin-bottom: 3rem;
  }
}

.grid {
  margin-left: auto;
  align-items: stretch;
  align-self: flex-end;
  display: grid;
  grid-auto-rows: 32rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(3, 24rem);

  @media only screen and (max-width: 96rem) {
    grid-template-columns: repeat(3, 22rem);
    grid-auto-rows: 30rem;
  }

  @media only screen and (max-width: 80rem) {
    grid-template-columns: repeat(3, 18rem);
    grid-auto-rows: 28rem;
  }

  @media only screen and (max-width: 64rem) {
    grid-template-columns: repeat(2, 18rem);
    grid-auto-rows: 26rem;
  }

  @media only screen and (max-width: 48rem) {
    align-self: center;
    grid-template-columns: repeat(1, 24rem);
    grid-auto-rows: 22rem;
  }

  @media only screen and (max-width: 40rem) {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 20rem;
    width: 100%;
  }
}
