.container {
  display: flex;
  flex-direction: row-reverse;
  width: 4rem;

  @media only screen and (max-width: 48rem) {
    flex-direction: row;
    width: unset;
  }
}

.link {
  @media only screen and (max-width: 48rem) {
    color: rgb(var(--gray-50));
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }

  &:hover {
    font-weight: var(--font-weight-semibold);
  }

  &--light-mode {
    @media only screen and (max-width: 48rem) {
      color: rgb(var(--gray-950));
    }
  }
}
