.background {
  background: linear-gradient(rgb(var(--gray-950)), rgb(var(--gray-900)));
  padding-top: 8rem;
  padding-bottom: 8rem;

  &--light-mode {
    background: unset;
  }
}

.video {
  filter: brightness(50%);
  width: 100%;

  &--light-mode {
    filter: unset;
  }
}
