.container {
}

.carousel {
  display: flex;
  gap: 10rem;
  margin-bottom: 3rem;
  overflow-x: hidden;

  @media only screen and (max-width: 64rem) {
    margin-bottom: 1.5rem;
  }
}

.buttons {
  color: rgb(var(--gray-50));
  justify-content: flex-end;
  display: flex;
  gap: 2rem;

  &--light-mode {
    color: rgb(var(--gray-950));
  }

  @media only screen and (max-width: 64rem) {
    justify-content: center;
  }
}

.button {
  border-radius: 50%;
  border: 1px solid rgb(var(--gray-50));
  padding: 0.5rem;
  transition: transform 100ms ease-in;

  &:disabled {
    border-color: rgb(var(--gray-600));
    color: rgb(var(--gray-600));
    cursor: default;
    transform: none !important;
  }

  &:active {
    transform: scale(0.9);
  }

  &--light-mode {
    border: 1px solid rgb(var(--gray-950));

    &:disabled {
      border-color: rgb(var(--gray-300));
      color: rgb(var(--gray-300));
    }
  }
}
