.figure {
  position: relative;

  &:hover {
    .image {
      filter: unset;
    }

    figcaption {
      color: rgb(var(--gray-50));
    }
  }

  &--light-mode {
    &:hover {
      figcaption {
        color: rgb(var(--gray-900));
      }
    }
  }
}

.image {
  filter: brightness(60%);
  height: 4rem;
  transition: filter 250ms ease-in;
  width: 4rem;

  @media only screen and (max-width: 64rem) {
    height: 3rem;
    width: 3rem;
  }

  @media only screen and (max-width: 48rem) {
    filter: unset !important;
  }

  &--light-mode {
    filter: brightness(100%) grayscale(50%);

    &:hover {
      filter: brightness(175%);
    }

    @media only screen and (max-width: 48rem) {
      filter: unset !important;
    }
  }
}

.figcaption {
  color: rgb(var(--gray-600));
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: color 250ms ease-in;

  @media only screen and (max-width: 48rem) {
    color: rgb(var(--gray-100));
  }

  &--light-mode {
    color: rgb(var(--gray-500));

    @media only screen and (max-width: 48rem) {
      color: rgb(var(--gray-900));
    }
  }
}
