.wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 10rem;
  gap: 5rem;
  padding-bottom: 10rem;

  @media only screen and (max-width: 64rem) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-direction: column;
    gap: 1rem;
  }
}

.id-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.id {
  text-transform: uppercase;
  font-weight: var(--font-weight-extralight);
  letter-spacing: 0.1rem;
}

.hr {
  border-color: rgb(var(--gray-950));
  width: 15rem;

  @media only screen and (max-width: 64rem) {
    width: 30rem;
  }
}

.title {
  flex: 1;
  text-align: right;

  @media only screen and (max-width: 96rem) {
    align-self: stretch;
    font-size: var(--font-size-8xl);
    line-height: var(--font-size-8xl);
  }

  @media only screen and (max-width: 80rem) {
    align-self: stretch;
    font-size: var(--font-size-7xl);
    line-height: var(--font-size-7xl);
  }

  @media only screen and (max-width: 64rem) {
    align-self: stretch;
    font-size: var(--font-size-5xl);
    line-height: var(--font-size-5xl);
  }

  @media only screen and (max-width: 48rem) {
    font-size: var(--font-size-4xl);
    line-height: var(--font-size-4xl);
  }
}
