.wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 10rem;
  gap: 3rem;
  padding-bottom: 10rem;
  flex-direction: column;

  @media only screen and (max-width: 96rem) {
    gap: 2rem;
  }

  @media only screen and (max-width: 64rem) {
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.id-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.id {
  text-transform: uppercase;
  font-weight: var(--font-weight-extralight);
  letter-spacing: 0.1rem;
}

.hr {
  border-color: rgb(var(--gray-950));
  width: 30rem;

  @media only screen and (max-width: 64rem) {
    width: unset;
    flex: 1;
  }
}

.title {
  align-self: flex-end;

  @media only screen and (max-width: 96rem) {
    font-size: var(--font-size-8xl);
    line-height: var(--font-size-8xl);
  }

  @media only screen and (max-width: 80rem) {
    font-size: var(--font-size-7xl);
    line-height: var(--font-size-7xl);
  }

  @media only screen and (max-width: 64rem) {
    font-size: var(--font-size-5xl);
    line-height: var(--font-size-5xl);
  }

  @media only screen and (max-width: 48rem) {
    font-size: var(--font-size-4xl);
    line-height: var(--font-size-4xl);
  }
}
