.container {
  color: rgb(var(--gray-300));
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &--light-mode {
    color: rgb(var(--gray-700));
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  height: 7rem;
  width: 7rem;
  animation: spin 2s linear infinite;
  transform-origin: 45% 50%;
}

.text {
  background: linear-gradient(rgb(var(--blue-100)), rgb(var(--blue-700)));
  background-clip: text;
  color: transparent;

  &--light-mode {
    background: linear-gradient(rgb(var(--blue-900)), rgb(var(--blue-500)));
    background-clip: text;
  }
}
