.nav {
  display: flex;
  background-color: rgb(var(--gray-50));
  padding: 2rem 5rem;
  gap: 5rem;
  box-shadow: 0 0.5rem 2rem -1rem rgba(var(--gray-900), 0.5);
  position: sticky;
  top: 0;
  z-index: 10;

  @media only screen and (max-width: 80rem) {
    padding: 1.5rem 3rem;
  }

  @media only screen and (max-width: 64rem) {
    padding: 1rem 2rem;
  }

  @media only screen and (max-width: 48rem) {
    gap: 3rem;
  }
}
