.container {
  color: rgb(var(--gray-50));

  &--light-mode {
    color: rgb(var(--gray-950));
  }
}

.title {
  font-weight: var(--font-weight-semibold);
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  color: rgb(var(--gray-400));
  transition: color 100ms ease-in;

  &:hover {
    color: rgb(var(--gray-50));
  }

  &--light-mode {
    color: rgb(var(--gray-500));

    &:hover {
      color: rgb(var(--gray-950));
    }
  }
}

.fake {
  color: rgb(var(--gray-400));

  &--light-mode {
    color: rgb(var(--gray-500));
  }
}
